@{
    ViewBag.Title = "About";
}

<h1 style="text-align:center;">Our Company's About</h1><hr>

<header>
    <div>
        <a href="/Company/Index">Home &ensp;</a>
        <a href="/Company/Featuresplan"> Features plan &ensp; </a>
        <a href="/Company/Employee"> Employee &ensp; </a>
        <a href=""> About &ensp;  </a>
        <a href="/Company/contact"> contact &ensp; </a>
        <a href="/Company/Signin"> Sign in &ensp; </a>
        <a href="/Company/Signup"> Sign up &ensp; </a>
    </div><hr>
</header>

<body>
    <p>Our mission is to empower young Students to be the inventors and creators.</p>
    <hr>
    <p>In a world where so much is being done for technology and so little for the environment, education is not even a part of most discussions.</p>
    <p>We at Studytonight believe that by widening the reach of education, by making it freely available, so much can be achieved.</p>
    <p>And this journey started in 2013 when a young boy thought "wouldn't it be great, to have a website, with simple tutorials for programming languages, just like a friend would teach you!", and Studytonight was born.</p>
    <h3> follow us on </h3>
</body>
