
@{
    ViewBag.Title = "Contact";
}

<h1 style="text-align:center;">Our Company's Contact</h1><hr>

<header>
    <div>
        <a href="/Company/Index">Home &ensp; </a>
        <a href="/Company/Featuresplan"> Features plan &ensp; </a>
        <a href="/Company/Employee"> Employee &ensp; </a>
        <a href="/Company/About"> About &ensp; </a>
        <a href=""> contact &ensp; </a>
        <a href="/Company/Signin"> Sign in &ensp;  </a>
        <a href="/Company/Signup"> Sign up &ensp;</a>
    </div><hr />
</header>

<body>
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
    <form>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
            <input type="submit" value="Submit">
    </form>
</body>

