
@{
    ViewBag.Title = "Featuresplan";
}

<h1 style="text-align:center;">Our Company's Featuresplan</h1><hr>

<header>
    <div>
        <a href="/Company/Index">Home &ensp; </a>
        <a href=""> Features plan &ensp; </a>
        <a href="/Company/Employee"> Employee &ensp; </a>
        <a href="/Company/About"> About &ensp;</a>
        <a href="/Company/contact"> contact &ensp; </a>
        <a href="/Company/Signin"> Sign in  &ensp;</a>
        <a href="/Company/Signup"> Sign up &ensp; </a>
    </div> <hr/>
</header>

<body>
    <P>
        A future growth plan is simply a blueprint for how companies plan to hit their targets over a certain period of
        time. Most growth plans cover a relatively short time — usually one or two years — but some businesses create plans
        that extend well beyond that.

        Future growth plans help companies lock down their objectives and focus on ways to meet those objectives.
        This gives investors a clearer vision of their future.
    </P>
</body>