@{
    ViewBag.Title = "Home";
}

<h1 style="text-align:center;">Our Company</h1><hr>

<header>
    <div>
        <a href="">Home &ensp; </a>
        <a href="/Company/Featuresplan"> Features plan &ensp; </a>
        <a href="/Company/Employee"> Employee &ensp; </a>
        <a href="/Company/About"> About &ensp; </a>
        <a href="/Company/contact"> contact &ensp; </a>
        <a href="/Company/Signin"> Sign in &ensp; </a>
        <a href="/Company/Signup"> Sign up &ensp; </a>
    </div> <hr>
</header>

<body>
    <h4 style="text-align:center;">Our Home Page</h4>

    <p>Separating paragraphs with blank lines is easiest
    for readers to scan, but they can also be separated
    by indenting their first lines. This is often used
    to take up less space, such as to save paper in print.</p>

    <p>
        Writing that is intended to be edited, such as school
        papers and rough drafts, uses both blank lines and
        indentation for separation. In finished works, combining
        both is considered redundant and amateurish.
    </p>

    <p>
        In very old writing, paragraphs were separated with a
        special character: ¶, the <i>pilcrow</i>. Nowadays, this
        is considered claustrophobic and hard to read.
    </p>

</body>
