
@{
    ViewBag.Title = "Signin";
}

<h1 style="text-align:center;">Sign in</h1><hr>

<header>
    <div>
        <a href="/Company/Index">Home &ensp; </a>
        <a href="/Company/Featuresplan"> Features plan  &ensp; </a>
        <a href="/Company/Employee"> Employee  &ensp; </a>
        <a href="/Company/About"> About &ensp; </a>
        <a href="/Company/contact"> contact &ensp; </a>
        <a href=""> Sign in &ensp; </a>
        <a href="/Company/Signup"> Sign up &ensp; </a>
    </div><hr>
</header>

<body>
    <center> <h4> Company SingIn Form </h4> </center>
    <form>
        <div>
            <dr>
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required> <br> <br>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required> <br> <br>
            <button type="submit">Login</button> <br> <br>
        </div>
        <div>
            <input type="checkbox" checked="checked"> Remember me.<br>
            Forgot <a href="#"> password? </a>
        </div>

    </form>
</body>
